<div>
    Introduzca monto para sumar desde la app
</div>
<div>
    <input [(ngModel)]="this.value"> 
</div>

<app-header [value]="this.value" (result)="this.result=$event"></app-header>

<br>
<div>
    El resultado es desde la app : {{this.result}}
</div>